.energy {
    .info {
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 0 auto;
        padding: 20px;
        color: gray;
        width: 90%;

        button {
            padding: 10px;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
            background-color: #f3ca7e;
            color: #fff;
        }
    }
}